# .NET build output
[Bb]in/
[Oo]bj/

# Visual Studio user settings and caches
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Installer Projects output
PersonalViewer.Setup/Debug/
PersonalViewer.Setup/Release/
